<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>paypal-login Demo</title>

  <script src="../webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="paypal-login.html">

</head>
<body unresolved>

  <p>An example of using <code>&lt;paypal-login></code>:</p>

  <paypal-login 
          appID="AThRTxCynAdt6adlZbATOnmn-7plbCv8O_X1zoRtifnlRFqxzbPd8cDYCKir"
          authend="production"
          theme="neutral"
          returnurl="http://leoj.net">
  </paypal-login>

</body>
</html>
